.new-card h2{
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: flex;
}
.form-inline label{
    display: flex;
}
.form-inline label div.label{
    width: 150px;
    display: flex;
    align-items: center;
}
.form-inline label input[type="text"]{
    padding: 5px 10px;
    border-radius: 7px;
    margin-left: 10px;
    width: 255px;
}
.form-inline .field{
    display: flex;
    align-items: center;
}

.labelRow{
    display: flex;
    padding: 5px 0px;
}
.labelRow .label{
    width: 100px;
}